:root{
    --light-blue: rgb(148, 204, 223);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(42, 42, 56);
}

h1{
    background-color: var(--light-blue);
    color: rgb(42, 42, 56);
}

nav{
    height: 10vh;
    padding: 20px;
    display: flex;
    align-items: center;
}

nav a{
    margin: 15px;
    color: var(--light-blue);
    border-bottom: solid 2px var(--light-blue);
    border: none;
}

nav a:hover{
    background-color: var(--light-blue);
    color: black;
}

#Name-Picture{
    position: relative;
    height: 25vh;
    width: 100vw;
    background-color: var(--light-blue);
}

#Name-Picture h2{
    width: 100%;
    position: absolute;
    top: 30%;
    left: 0;
    right: 5%;
    text-align: center;
    vertical-align: middle;
    color: rgb(42, 42, 56);
    font-size: 50px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main section{
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Section-Title{
    padding-right: 20px;
    color: darkblue;
    font-size: 30px;
    height: 100%;
    width: 300px;
    text-align: right;
    font-weight: bold;
}

.content{
    padding: 20px;
    /* width: 65%; */
    flex-grow: 1;
    border-left: solid 5px darkblue;
}

#About-Me div p{
    color: rgb(54, 54, 176);
}

#Images{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#Deployed-App{
    border: solid 5px var(--light-blue);
    border-radius: 15px;
    width: 100%;
    height: 350px;
}

#Deployed-App:hover{
    border: darkblue solid 6px;
    border-radius: 15px;
}

#My-Work #Images div img{
    width: 340px;
    border: solid 5px var(--light-blue);
    border-radius: 15px;
}

#Contact-Info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-weight: bolder;
}

#Contact-Info p, 
#Contact-Info a{
    border-bottom: solid 5px darkblue;
}

@media screen and (max-width: 500px){
    header{
        justify-content: center;
    }
}

/* @media screen and (max-width: 768px){
    main section{
        flex-wrap: wrap;
        justify-content: center;
    }
} */


